# jupyterで要りそうなもの
jupyterlab
jupyterlab_code_formatter
jupyterlab_git
jupyterlab_widgets
ipywidgets
import-ipynb

# datascienceで要りそうなもの
numpy
pandas
scipy
scikit-learn
pycaret
opencv-python
matplotlib
japanize_matplotlib

# その他必要なもの
requests
Pillow

mlflow
