jupyterlab
jupyterlab_code_formatter
jupyterlab_git
jupyterlab_widgets
ipywidgets
import-ipynb

numpy
pandas
scipy
scikit-learn
pycaret
opencv-python
matplotlib
japanize_matplotlib

requests
Pillow

mlflow
